#footer {
  background-color: #363636;
  padding: 100px 50px;
}

.footer__inner > div {
  width: 33.33%;
}

.footer__inner li,
.footer__inner p {
  font-family: "Pretendard-regular";
  font-size: 0.8rem;
  color: #FFFFFF;
  line-height: 1.5;
}

.footer__inner__cont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer__copyright {
  text-align: right;
}

.footer__copyright img {
  width: 15%;
}